.wrapper {
    display: flex;
    flex-direction: column;
    padding: 12px;
    flex-grow: 1;
}

.message_list {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.message {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 4px 0;
    border-radius: 8px;
    max-width: 70%;
}

.message.sent {
    align-self: flex-end;
    background-color: #4caf50;
    /* Green color for sent messages */
    color: #fff;
}

.message.received {
    align-self: flex-start;
    background-color: #f0f0f0;
}

.send_box {
    width: 100%;
    display: flex;
}

.send_input {
    flex-grow: 1;
    margin-right: 8px;
}