.mainHeading {
    /* border: 1px black solid; */
    height: max-content;
    font-weight: bold;
}

.allTodoDetails {
    /* border: 1px black solid; */
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    justify-content: space-evenly;
}

.allTodoDetailsBox {
    /* border: 1px black solid; */
    width: 45%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* shadow */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    gap: 1.5vh;
}